global
    log stdout format raw local0
    maxconn 2000

defaults
    log     global
    option  tcplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
    default_backend http_back

backend http_back
    balance roundrobin
    server usuarios usuarios:3005 check
    server asignaturas asignaturas:3006 check
    server cursos cursos:3007 check
    server graficas graficas:3008 check

